
<p>
    <mat-toolbar style = 'background-color: rgb(243,106,38)'>
        
         <span [routerLink]="['/post-feed']">Revature Social Media</span>
         <span class="spacer"></span>
         <h1 id = "searchgreeting" name = "searchgreeting">Find other users</h1>
         <form id ="searchform">
             <input type = "Search" id = "searchbar" name = "bar"
             placeholder = "Enter User">
             <button id = "searchbutton">Search</button>
         </form>
         <button mat-button (click)="logout();">Logout</button>
       
         <mat-icon id = "darkbutton" (click) = "DarkToggle()">brightness_6</mat-icon>
     </mat-toolbar>
 </p>